* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: blue;
  text-align: center;
}

.grid-container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.container1 {
  margin-top: 20px;
  background-color: green;
  height: 80px;
}

.container2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.container2 .container{
  background-color: green;
  height: 300px;
}

.container3 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);;
  grid-gap: 20px;
}

.container3 .container{
  background-color: green;
  height: 120px;
}

.container4{
  width: 100%;
  margin-top: 20px;
  background-color: green;
  padding-top: 20px;
  height: 200px;
}

.container4 .container{
  background-color: blue;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}

@media (max-width:500px){
  .container2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);;
    grid-gap: 20px;
  }

  .container3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);;
    grid-gap: 20px;
  }
}



